

/* SHAKING IMG EFFECT */

.zoom-trigger {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    transition: transform 0.5s ease;
    cursor: pointer;
}


.zoom-trigger:hover {
    
    transform: translate(-50%, -50%) scale(1.2); 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    25% { transform: translate(-2px, -1px) rotate(1deg); }
    50% { transform: translate(-3px, 1px) rotate(0deg); }
    75% { transform: translate(2px, 1px) rotate(1deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.zoom-trigger:hover .shake-layer {
    animation: shake 0.3s infinite;
}


img {
    display: block;
    max-width: 100%;
}

/* ___________HOME PAGE MENU____________ */

header {
    background-color: rgb(47, 252, 255);
    justify-content: center;
    width: 100vw;
}

header > img {
    display: flex;
    padding: 10px;
    max-width: 25%;
    max-height: 25%;
    margin: auto;
}



  nav.menu {

    height: 5vh;
    width: 100vw;
    padding: 12px;

    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 0;
    justify-content: space-evenly;
    background-color: rgb(229, 192, 252);
    align-items: center;
  }
    nav > ul > a {
        padding: 10px;
        border-radius: 10px;
        color: white;
        background-color: rgb(232, 158, 250);
        margin: 70px;
    }

    nav > ul > a:hover {
        color: rgb(0, 0, 0);
        background-color: azure;
    }

        body {
            background-color: rgb(19, 113, 195);

        }
        article.welc {
            display: flex;
            flex-direction: row wrap;
            justify-content: center;
            
        }

        * {
            font-family: "Pixelify Sans", sans-serif;
            text-size-adjust: 1em;
            text-decoration: none;
            font-size: 1em;
        }

        section {
            background-color: black;
            width: 70%;
            display: block;
            flex-direction: row nowrap;
            justify-content: center;
            margin: auto;
        }

        section > article > h1 {
            margin-top: 5px;
            width: 100%;
            background-color: rgb(229, 192, 252);
            color: rgb(255, 255, 255);
            font-size: 7em;
            text-align: center;
            padding: -12px;
            line-height: 1.2em;

        }


