body {
    background-color: rgb(127, 208, 255);
}
html, body {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 305px;
    width: 470px;
    background: url(imagens/welcomeimg.png) no-repeat top center;

    
}