

/* SHAKING IMG EFFECT */

.zoom-trigger {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    transition: transform 0.5s ease;
    cursor: pointer;
}


.zoom-trigger:hover {
    
    transform: translate(-50%, -50%) scale(1.2); 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    25% { transform: translate(-2px, -1px) rotate(1deg); }
    50% { transform: translate(-3px, 1px) rotate(0deg); }
    75% { transform: translate(2px, 1px) rotate(1deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.zoom-trigger:hover .shake-layer {
    animation: shake 0.3s infinite;
}


img {
    display: block;
    max-width: 100%;
}

/* ___________HOME PAGE MENU____________ */

  nav {
    height: 5vh;
    width: 100vw;
    padding: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: rgb(11, 129, 90);
  }
    nav > ul > a {
        padding: 15px;
        border-radius: 10px;
        color: white;
        background-color: rgb(91, 130, 137);
        
        

        display: flexbox;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        justify-items: center;
        text-decoration: none;
        margin: 50px;
    }

    nav > ul > a:hover {
        color: rgb(0, 0, 0);
        background-color: azure;
    }

        .img {
            background-color: aquamarine;
            height: 50vh;
            width: 100vw;
            display: flex;
            justify-content: center;

        }

        .welc {
            background-color: rgb(255, 255, 255);
        }

        div > h1 {
            background-color: chartreuse;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 4em;
            text-align: center;
            padding: 0px;
            
        }


