body {
    background-color: rgb(127, 208, 255);
}
html, body {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 305px;
    width: 470px;
    
}

img {
    position: absolute;
    
    display: block;
    max-width: 100%;
}


/* SHAKING IMG EFFECT */

.zoom-trigger {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    transition: transform 0.5s ease;
    cursor: pointer;
}


.zoom-trigger:hover {
    
    transform: translate(-50%, -50%) scale(1.2); 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    25% { transform: translate(-2px, -1px) rotate(1deg); }
    50% { transform: translate(-3px, 1px) rotate(0deg); }
    75% { transform: translate(2px, 1px) rotate(1deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.zoom-trigger:hover .shake-layer {
    animation: shake 0.3s infinite;
}


img {
    display: block;
    max-width: 100%;
}

/* _______________________ */

